@use "sass:map";
@import "bootstrap/scss/bootstrap";

$primary-colors: (
  '50': #F6F6F8,
  '100': #D9DAE2,
  '200': #B4B5C5,
  '300': #8E8FA9,
  '400': #696A8C,
  '500': #43456F,
  '600': #363759,
  '700': #282943,
  '800': #1B1C2C,
  '900': #0D0E16
);

$primary: map.get($primary-colors, '500');

$secondary-colors: (
  '100': #EEF4CF,
  '200': #DEE9A0,
  '300': #CDDE70,
  '400': #BDD341,
  '500': #ACC811,
  '600': #8AA00E,
  '700': #67780A,
  '800': #455007,
  '900': #222803
);

$secondary: map.get($secondary-colors, '500');

$success-colors: (
  '100': #D1E7DD,
  '200': #A3CFBB,
  '300': #75B798,
  '400': #479F76,
  '500': #198754,
  '600': #146C43,
  '700': #0F5132,
  '800': #0A3622,
  '900': #051B11
);

$success: map.get($success-colors, '500');

$danger-colors: (
  '100': #F8D7DA,
  '200': #F1AEB5,
  '300': #EA868F,
  '400': #E35D6A,
  '500': #DC3545,
  '600': #B02A37,
  '700': #842029,
  '800': #58151C,
  '900': #2C0B0E
);

$danger: map.get($danger-colors, '500');

$warning-colors: (
  '100': #FFF3CD,
  '200': #FFE69C,
  '300': #FFDA6A,
  '400': #FFCD39,
  '500': #FFC107,
  '600': #CC9A06,
  '700': #997404,
  '800': #664D03,
  '900': #332701
);

$warning: map.get($warning-colors, '500');

$info-colors: (
  '100': #CFF4FC,
  '200': #9EEAF9,
  '300': #6EDFF6,
  '400': #3DD5F3,
  '500': #0DCAF0,
  '600': #0AA2C0,
  '700': #087990,
  '800': #055160,
  '900': #032830
);

$info: map.get($info-colors, '500');

$gray-colors: (
  '100': #EFF0F2,
  '200': #DEE1E5,
  '300': #CED3D7,
  '400': #BDC4CA,
  '500': #ADB5BD,
  '600': #8A9197,
  '700': #686D71,
  '800': #45484C,
  '900': #232426,
);

$grays: $gray-colors;

$gray: map.get($gray-colors, '600');
$light: map.get($gray-colors, '100');
$dark: map.get($gray-colors, '900');

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "gray":       $gray,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$black: #000000;
$white: #ffffff;

$body-bg:                     #EFF0F2;
$body-color:                  map.get($gray-colors, "900");

// Settings
$component-active-bg:         map.get($primary-colors, '500') !default;
$enable-cssgrid:              true;
$enable-negative-margins:     true;

// Typografy
$font-family:                 "Ubuntu";
$font-family-base:            "Ubuntu", sans-serif;
$font-family-sans-serif:      "Ubuntu", sans-serif;

$font-size-root:              null;

$font-size-base:              1rem; // 16px
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 2.5;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          800;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$h1-font-size:                $font-size-base * 2.5;   // 40px
$h2-font-size:                $font-size-base * 2;     // 32px
$h3-font-size:                $font-size-base * 1.75;  // 28px
$h4-font-size:                $font-size-base * 1.5;   // 24px
$h5-font-size:                $font-size-base * 1.375; // 22px
$h6-font-size:                $font-size-base * 1.25;  // 20px

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base * 1.25,  // 20px
  8: $font-size-base,         // 16px
  9: $font-size-base * .875,  // 14px
  10: $font-size-base * .75,  // 12px
  11: $font-size-base * .625, // 10px
  12: $font-size-base * .5    // 8px
);

$line-heights: $font-sizes;

@each $key, $value in $line-heights {
  .lh-#{ $key } {
    line-height: $value !important;
  }
}

// Spacers
$spacer: 1rem;
$spacers: (
  0: 0,             // 0px
  1: $spacer * .25, // 4px
  2: $spacer * .5,  // 8px
  3: $spacer,       // 16px
  4: $spacer * 1.5, // 24px
  10: $spacer * 1.8,
  5: $spacer * 2,   // 32px
  6: $spacer * 2.5, // 40px
  7: $spacer * 3,   // 48px
  8: $spacer * 6    // 96px
);

// Z-index
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3
);

// Modal
$modal-footer-margin-between:       0;
$modal-content-border-color:        map.get($gray-colors, "300");
$modal-header-border-color:         $modal-content-border-color;
$modal-footer-border-color:         $modal-content-border-color;
$modal-lg:                          750px;
$modal-xl:                          1000px;

// Badge
$badge-padding-x:                   .56em;

// Input
$input-placeholder-color:     map.get($gray-colors, "400");
$input-border-color:          map.get($gray-colors, "300");

// Breadcrumbs
$breadcrumb-divider: quote(">");
