.hover-nav .hover-item {
    position: relative;
}

.hover-nav .hover-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #43456F;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.hover-nav .hover-item:hover::after {
    transform: scaleX(1);
}

.hover-nav .hover-link {
    padding-bottom: 5px;
}

.invert-on-hover {
    transition: filter 0.3s;
    background-color: transparent;
}

.hover-zoom {
    transition: transform 0.3s ease;
  }
  
  .hover-zoom:hover {
    transform: scale(1.1);
  }